@charset "utf-8";

@font-face {
  font-family: 'Gotham-Black';
  src: url('../fonts/Gotham/Gotham-Black.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-BlackIta';
  src: url('../fonts/Gotham/Gotham-BlackIta.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham/Gotham-Bold.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-BoldIta';
  src: url('../fonts/Gotham/Gotham-BoldIta.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham/Gotham-Book.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-BookIta';
  src: url('../fonts/Gotham/Gotham-BookIta.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham/Gotham-Light.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-LightIta';
  src: url('../fonts/Gotham/Gotham-LightIta.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham/Gotham-Medium.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-MediumIta';
  src: url('../fonts/Gotham/Gotham-MediumIta.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Thin';
  src: url('../fonts/Gotham/Gotham-Thin.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-ThinIta';
  src: url('../fonts/Gotham/Gotham-ThinIta.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Ultra';
  src: url('../fonts/Gotham/Gotham-Ultra.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-UltraIta';
  src: url('../fonts/Gotham/Gotham-UltraIta.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-XLight';
  src: url('../fonts/Gotham/Gotham-XLight.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-XLightIta';
  src: url('../fonts/Gotham/Gotham-XLightIta.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRnd-Bold';
  src: url('../fonts/Gotham-Rounded/GothamRnd-Bold.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRnd-BoldIta';
  src: url('../fonts/Gotham-Rounded/GothamRnd-BoldIta.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRnd-Book';
  src: url('../fonts/Gotham-Rounded/GothamRnd-Book.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRnd-BookIta';
  src: url('../fonts/Gotham-Rounded/GothamRnd-BookIta.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRnd-LightIta';
  src: url('../fonts/Gotham-Rounded/GothamRnd-LightIta.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRnd-Light';
  src: url('../fonts/Gotham-Rounded/GothamRnd-Light.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRnd-MedIta';
  src: url('../fonts/Gotham-Rounded/GothamRnd-MedIta.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRnd-Medium';
  src: url('../fonts/Gotham-Rounded/GothamRnd-Medium.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*****************************
 * Default & Resets Styles
 ****************************/
html, body {
  height: 100%;
}

body{
	background-color: #032c6b;
	font-family: 'Gotham-Book';
}

h1, h2, h3, h4, h5, h6{
	color: #fff;
}
h1{
	font-size: 42px;
	font-family: 'Gotham-Light';
}
h2{
	font-size: 30px;
	font-family: 'Gotham-Medium';
}
h3{
	font-size: 20px;
	font-family: 'Gotham-Light';
}

a, :hover {
	transition: all 0.3s linear 0s;	
	-o-transition:all 0.3s linear 0s; 
	-ms-transition:all 0.3s linear 0s; 
	-moz-transition:all 0.3s linear 0s;
	-webkit-transition:all 0.3s linear 0s;
}

ol, ul{
	list-style: none; 
	padding: 0; 
	margin: 0; 
}

/*****************************
 * Global Styles
 ****************************/
.table-display-wrapper{
  position: relative;
  display: table;
  overflow: hidden;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
	.table-top{
		display: table-row;
	  height: 100%;
	  background-image: url(../images/glow-bg.png);
	  background-repeat: no-repeat;
	  background-position: center bottom;
	  background-size: cover;
	}
	.table-bottom{
	  display: table-row;
	  height: 1px;
	}

/*****************************
 * Header Styles
 ****************************/
.header{
	background-color: #fff;
}
	.guaranteed-list{
		padding: 16px 0;
	}
	.guaranteed-list li{
		position: relative;
		padding-left: 18px;
		color: #000000;
		font-family: 'Gotham-Medium';
		line-height: 26px;
	}
	.guaranteed-list li::before{
		content: '\f00c';
		position: absolute;
		font-family:FontAwesome;
		color: #3e9d03;
		left: 0;
	}

/*****************************
 * Main Entry Styles
 ****************************/
.page-header{
	border: none;
}
.page-header h1{
	margin: 0 0 5px;
}
.page-header h2{
	margin: 0;
}

	/* Form */
	.form-field{
		margin-top: 30px;
	}
	.form-field label{
		color: #ffffff;
		font-size: 18px;
		font-family: 'Gotham-Medium';
		font-weight: normal;
		margin-bottom: 8px;
	}
	.form-field .input-group{
		/* IE10+ */ 
		background-image: -ms-linear-gradient(top, #F5F7F9 0%, #e3e8ee 100%);
		/* Mozilla Firefox */ 
		background-image: -moz-linear-gradient(top, #F5F7F9 0%, #e3e8ee 100%);
		/* Opera */ 
		background-image: -o-linear-gradient(top, #F5F7F9 0%, #e3e8ee 100%);
		/* Webkit (Safari/Chrome 10) */ 
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F5F7F9), color-stop(100, #e3e8ee));
		/* Webkit (Chrome 11+) */ 
		background-image: -webkit-linear-gradient(top, #F5F7F9 0%, #e3e8ee 100%);
		/* W3C Markup */ 
		background-image: linear-gradient(to bottom, #F5F7F9 0%, #e3e8ee 100%);
		min-height: 60px;
    padding: 15px 17px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -o-border-radius: 40px;
	}
	.form-field .input-group:hover,
	.form-field .input-group:focus{
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 25px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 25px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 25px rgba(255, 255, 255, 0.6);
    -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 25px rgba(255, 255, 255, 0.6);
    background-color: #fff;
	}
	.form-field .input-group-addon,
	.modal .input-group-addon{
		border: none;
    background-color: #d68d00;
    color: #fff;
    border-radius: 50%;
    padding: 5px 12px;
    min-width: 34px;
    text-align: center;
	}
	.modal .input-group-addon{
		padding: 9px 12px;
	}
	.form-field .form-control,
	.form-field .btn{
		background: none;
		border: none;
		color: #4e555c;
		font-size: 14px;
		font-family: 'Gotham-Medium';
		box-shadow: none;
		padding: 6px 12px 6px 20px;
	}
	.form-field .btn{
		color: #90969c;
	}
	.form-field .form-control:hover,
	.form-field .btn:hover,
	.form-field .form-control:focus,
	.form-field .btn:focus{
		border: none;
		outline: 0;
		box-shadow: none;
	}
	.form-field .btn{
		width: 100%;
		text-align: left;
	}
	.form-field .btn .fa{
		float: right;
    margin-top: 2px;
    font-size: 18px;
	}
	.form-field .dropdown-menu{
		width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 20px 15px;
	}
	.form-field .dropdown-menu>li>a{
		padding: 5px 55px;
    font-family: 'Gotham-Medium';
    color: #9096a7;
	}
	.form-field .dropdown-menu>li>a:hover{
		background-color: #bcd3e3;
		color: #000;
	}
	.intake-form .legend{
		color: #ffffff;
		font-size: 18px;
		font-family: 'Gotham-Light';
		margin-top: 20px;
	}
	.intake-form .legend a{
		color: #fff;
		text-decoration: underline;
	}

	/* Client review */
	.client-reviews h3{
		margin: 0 0 20px;
	}
	.client-reviews .block{
		overflow: hidden;
		border-top: 1px solid #4976a4;
		padding: 20px 0 15px;
	}
	.client-reviews .block:first-of-type{
		border: none;
		padding-top: 0;
	}
		.block .lawyer-info{
			float: left;
			width: 90px;
			text-align: center;
			margin-right: 10px;
		}
			.lawyer-info img{
				margin-bottom: 8px;
			}
			.lawyer-info span{
				font-family: 'Gotham-Medium';
				line-height: 14px;
				display: block;
			}
			.lawyer-info .name{
				color: #ffffff;
				font-size: 13px;				
			}
			.lawyer-info .address{
				color: #dadada;
				font-size: 11px;
			}
		.block .lawyer-desc{
			float:left;
			width: calc(100% - 100px);
		}
			.lawyer-desc .ratings .fa,
			.review .ratings .fa{
				color: #666666;
			}
			.lawyer-desc .ratings .rated,
			.review .ratings .rated{
				color: #d89108;
			}
			.lawyer-desc strong{
				color: #fcfcfc;
				font-size: 12px;
				display: inline-block;
				margin-right: 20px;
			}
			.lawyer-desc p{
				color: #e4e4e4;
				font-size: 11px;
				font-family: 'Gotham-BookIta';
				line-height: 18px;
				margin-top: 10px;
			}
			.lawyer-desc .review-btn{
				background: url(../images/icon-book.png) no-repeat right;
				float: right;
				color: #fbd243;
				font-size: 10px;
				font-family: 'Gotham-Book';
				padding-right: 18px;
			}

/*****************************
 * Footer Styles
 ****************************/
.footer{
	background-color: #fff;
	padding: 35px 0;
}
.footer p{
	color: #919aa2;
	font-size: 12px;
	font-family: 'Gotham-Book';
	line-height: 20px;
}
	.footer-nav{
		margin: 20px 0 50px;
	}
	.footer-nav ul li{
		display: inline-block;
		padding: 0 20px;
	}
	.footer-nav ul li a{
		color: #919aa2;
		font-size: 12px;
	}
	.footer-logo{
		display: block;
		max-width: 200px;
	}
	.sponsor img{
		display: block;
		margin-bottom: 17px;
	}

	/* Modal */
	.modal-header{
		border: none;
		padding: 10px 10px 0 10px;
	}
	.modal-body{
		padding: 0 30px 0 30px;
	}
	.modal-footer{
		border: none;
    text-align: left;
    padding: 25px 30px;
	}
	.modal-footer .footer-rate{
		color: #000;
		font-size: 14px;
		font-family: 'Gotham-Medium';
		margin-bottom: 10px;
	}
	.modal-footer .close{
		color: blue;
    opacity: 1;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Gotham-Light';
    margin: 10px 0 5px;
	}
	.review .modal-body{
		padding: 0 30px;
	}
	.modal-header .close span{
		font-size: 40px;
	}
	.modal .input-group{
		margin-bottom: 15px;
	}
	.modal .input-group label{
		color: #4e555c;
		font-size: 18px;
		font-weight: normal;
		font-family: 'Gotham-Book';
		margin: 3px 0 3px 20px;
	}
	.modal .checkbox{
		margin-bottom: 25px;
	}
	.modal button.btn{
		color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #02377b;
    min-width: 255px;
    height: 52px;
    text-align: center;
    margin: 25px auto 0;
    display: block;
    font-family: 'Gotham-Medium';
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
	}

	.review .modal-header{
		padding: 0;
    margin: 20px 30px 0;
    border-bottom: 1px solid #666666;
	}
	.review .modal-header h3{
		color: #000000;
    font-size: 24px;
    font-family: 'Gotham-Book';
    float: left;
    margin: 0 0 12px;
	}
	.review .modal-header .close {
	  margin-top: -10px;
	}
	.review .body-top{
    padding: 15px 0;
    border-bottom: 1px solid #666666;
	}
		.body-top .lawyer-info{
			overflow: hidden;
		}
		.body-top .lawyer-info img{
			width: 85px;
			height: 85px;
			margin-right: 23px;
		}
		.body-top .lawyer-info span{
			line-height: inherit;
			font-family: 'Gotham-Book';
		}
		.body-top .lawyer-info .name{
			color: #000000;
			font-size: 30px;
		}
		.body-top .lawyer-info .address{
			color: #979da3;
			font-size: 16px;
		}
		.body-top .lawyer-info .cat{
			color: #000000;
			font-size: 16px;
		}
		.body-top .overall-ratings{
			overflow: hidden;
			margin-top: 10px;
		}
		.body-top .overall-ratings h4{
			color: #000000;
			font-size: 24px;
			float: left;
			margin: 0;
		}
		.body-top .overall-ratings h4 span{
			font-size: 18px;
		}
		.body-top .overall-ratings .ratings{
			display: inline-block;
			margin: 5px 0 0 20px;
		}
		.body-top .overall-ratings .ratings .fa{
			font-size: 18px;
		}
		.body-bottom{
			padding: 15px 0;
			border-bottom: 1px solid #666666;
		}
		.body-bottom .overall-review li:first-child{
			font-family: 'Gotham-Medium';
		}
		.body-bottom .overall-review li{
			color: #212121;
			font-family: 'Gotham-Book';
		}
		.body-bottom .overall-review li span.ratings{
			float: right;
		}
		.modal-body .other-cat{
			padding: 10px 0 30px; 
		}
		.modal-body .other-cat li{
			color: #1864af;
			font-size: 14px;
			font-family: 'Gotham-Book';
			line-height: 28px;
		}
		.review.other-categories .modal-header{
			border: none;
		}
		.review.other-categories .modal-header h3 span{
			color: #000000;
			font-size: 14px;
			font-family: 'Gotham-Light';
			display: block;
			margin-top: 8px;
		}
		.review .modal-dialog{
		  overflow-y: initial !important
		}
		.review .modal-body{
		  height: 410px;
		  overflow-y: auto;
		}


